.head__logo{
    display: flex;
    position: relative;
    justify-content:center;    
    align-items:center;
    grid-column: 1 / 2;
    grid-row: 1 / 1 ;
    
}

.head__imagen{
   height: 100%;
   width: 50%;
   margin-right: 45%;
   

}